@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.bn-container[data-color-scheme="light"] {
  --bn-colors-editor-text: var(--color-stone-900);
  --bn-colors-editor-background: var(--color-stone-50);
  --bn-colors-menu-text: var(--color-stone-900);
  --bn-colors-menu-background: var(--color-stone-50);
  --bn-colors-tooltip-text: var(--color-stone-900);
  --bn-colors-tooltip-background: var(--color-stone-50);
  --bn-colors-hovered-text: var(--color-stone-900);
  --bn-colors-hovered-background: var(--color-stone-200);
  --bn-colors-selected-text: var(--color-stone-50);
  --bn-colors-selected-background: var(--color-stone-900);
  --bn-colors-disabled-text: var(--color-stone-400);
  --bn-colors-disabled-background: var(--color-stone-50);

  --bn-colors-shadow: transparent;
  --bn-colors-border: var(--color-stone-900/10);
  --bn-colors-side-menu: var(--color-stone-900/30);

  --bn-border-radius: var(--radius-lg);
}
.bn-container[data-color-scheme="dark"] * {
  --bn-colors-editor-text: var(--color-stone-50);
  --bn-colors-editor-background: var(--color-stone-900);
  --bn-colors-menu-text: var(--color-stone-50);
  --bn-colors-menu-background: var(--color-stone-800);
  --bn-colors-tooltip-text: var(--color-stone-50);
  --bn-colors-tooltip-background: var(--color-stone-800);
  --bn-colors-hovered-text: var(--color-stone-50);
  --bn-colors-hovered-background: var(--color-stone-700);
  --bn-colors-selected-text: var(--color-stone-50);
  --bn-colors-selected-background: var(--color-stone-700);
  --bn-colors-disabled-text: var(--color-stone-400);
  --bn-colors-disabled-background: var(--color-stone-900);

  --bn-colors-shadow: transparent;
  --bn-colors-border: var(--color-stone-50);
  --bn-colors-side-menu: var(--color-stone-50/30);

  --bn-border-radius: var(--radius-lg);
}
